<p class="h1" style="text-align: center;"><b>Supun Abeysinghe</b></p>
<hr>
<p style="padding:14px; text-align: justify">
  I am a final year undergraduate of the Department of <a href="http://www.cse.mrt.ac.lk/">Computer Science and Engineering </a>, <a href="https://www.mrt.ac.lk/web/">University of Moratuwa</a>.
  I am a tech enthusiast and has a craving for coding! My interests lie in the fields of natural language processing, 
  deep learning, and artificial intelligence in general. Moreover, I have an interest in web developing and I like to 
  solve algorithmic challenges as a hobby. I have done a research internship at <a href="http://www.statnlp.org">StatNLP lab</a>, Singapore 
  University of Technology and Design (SUTD), under the supervision of <a href="https://istd.sutd.edu.sg/people/faculty/lu-wei">Prof. Lu Wei</a>. 
  Apart from that, I have worked on several web development projects as a freelance developer.
</p>
<div style="padding-left:20px;">
    <a class="btn" href="/assets/files/resume.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-download"></i> Download Resume</a>
</div>

<div class="container contact-box">
    <div class="box">
      <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
      <div class='details'><h3>+94 717018897</h3></div>
    </div>
    
    <div class="box">
      <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div class='details'><h3>supun.14@cse.mrt.ac.lk</h3></div>
    </div>
</div>

<div class="small-contact">
  <ul>
    <li>Contact : +94717018897</li>
    <li>Email: <a href="mailto:supun.14@cse.mrt.ac.lk">supun.14@cse.mrt.ac.lk</a></li>
  </ul>
</div>

<hr>

<!-- <img class='center' style="width: 900px;" src="/assets/images/word_cloud_1.png" alt=""> -->

