<h1 class="text-center"><b>Supun Abeysinghe</b></h1>
<p class="text-center"><b>Email: tabeysin [AT] purdue [DOT] edu</b></p>

<hr>

<p class="text-justify" style="color: brown;">
  I defended my Ph.D. thesis and graduated from Purdue CS in December 2023.
  I am headed to <a target="_blank" href="https://databricks.com/">Databricks</a> next to work on interesting problems
  in the intersection of DBMS, AI and compilers.
</p>

<p class="text-justify">
  I am a PhD <s>student</s> at <a target="_blank" href="https://www.cs.purdue.edu/">Purdue CS</a>, working with
  Prof. <a target="_blank" href="http://tiarkrompf.github.io/">Tiark Rompf</a>. I am broadly interested in systems work, with a particular interest in using compiler techniques in ML and DBMS domains.
  <br><br>
  I was a Research Intern at the AI Frameworks team at Microsoft (Fall 2022) and a summer intern at the compiler team at SambaNova Systems (Summer 2022), in both cases working on ML compilers. Prior to that, I worked as a Research Engineer at WSO2, using ML techniques to optimize system performance.
  <br><br>
  Before commencing my graduate studies, I completed my B.Sc. in Computer Science and Engineering at the <a target="_blank" href="https://www.mrt.ac.lk/web/">University of Moratuwa</a>, Faculty of Engineering, Sri Lanka with First Class Honors. During my undergraduate studies, I did a research internship at the <a target="_blank" href="https://statnlp-research.github.io/">StatNLP lab</a>, Singapore University of Technology and Design (SUTD), under the supervision of Prof. <a target="_blank" href="https://istd.sutd.edu.sg/people/faculty/lu-wei">Lu Wei</a>.
</p>

<div class="my-4">
  <a target="_blank" class="btn btn-primary" href="/assets/files/resume.pdf" rel="noopener noreferrer"><i class="fa fa-download"></i> Resume</a>
<hr>

<h4><b>News</b></h4>
<ul class="list-group">
  <!-- Repeat the structure for other news items -->
  <li class="list-group-item">Jan 2024: Our <b>POPL 24</b> paper on “An Expressive and Efficient Datalog Compiler for Program Analysis” was selected as a <b>Distinguished Paper</b></li>
  <li class="list-group-item">Dec 2023: I defended my Ph.D and graduated from Purdue :) Headed to Databricks afterwards </li>
  <li class="list-group-item">Nov 2023: Our paper on “A Data-Centric Expressive Query Language for Nested Data Structures” accepted at <b>PADL 2024</b> </li>
  <li class="list-group-item">Oct 2023: Our paper on “An Expressive and Efficient Datalog Compiler for Program Analysis” accepted at <b>POPL 2024</b> </li>
  <li class="list-group-item">Oct 2023: Presented our work on “Expressive and Efficient Datalog Compilers” at <b>MWPLS 2023</b> </li>
  <li class="list-group-item">Sep 2023: Our paper on “Efficient Composition of Data Management and Machine Learning Systems via Common Intermediate Layers” accepted at <b>MAPS 2023</b> </li>
  <li class="list-group-item">Jul 2023: Our paper on “Graph IRs for Impure Higher-Order Languages” accepted at <b>OOPSLA 2023</b> </li>
  <li class="list-group-item">Sep 2022: Joined AI Frameworks team at <b>Microsoft</b> as a Research Intern, working on ML compilers</li>
  <li class="list-group-item">May 2022: Joined compiler team at <b>SambaNova Systems</b> as a Summer Intern</li>
  <li class="list-group-item">Dec 2021: Our paper on "Efficient Incrementalization of Correlated Nested Aggregate Queries" was accepted at <b>SIGMOD 2022</b> (<a target="_blank" href="https://dl.acm.org/doi/abs/10.1145/3514221.3517889">paper</a>)</li>
  <li class="list-group-item">August 2020: Presented at PurPL Retreat 2020 (<a target="_blank" href="/assets/files/purplretreat2020.pdf">slides</a>)</li>
  <li class="list-group-item">February 2020: Presented a <a target="_blank" href="/assets/files/c4ml2020.pdf">poster</a> at <a target="_blank" href="https://www.c4ml.org/">C4ML 2020</a> and attended CGO 2020</li>
  <li class="list-group-item">September 2019: Volunteered for <a target="_blank" href="https://purpl.cs.purdue.edu/kickoff.html">PURPL Fest and Midwest PL Summit 2019</a></li>
  <li class="list-group-item">August 2019: Started my PhD in Computer Science at Purdue University</li>
  <li class="list-group-item">March 2019: Our paper <a target="_blank" href="https://www.researchgate.net/publication/332345389_ADAPT-T_An_Adaptive_Algorithm_for_Auto-Tuning_Worker_Thread_Pool_Size_in_Application_Servers">ADAPT-T: An Adaptive Algorithm for Auto-Tuning Worker Thread Pool Size in Application Servers</a> got accepted
    to ISCC 2019.
  </li>
  <li class="list-group-item">December 2018: Graduated from University of Moratuwa, Faculty of Engineering, with a First Class BSc Eng. (Hons) in Computer Science and Engineering</li>
  <li class="list-group-item">August 2018: Our paper <a target="_blank" href="https://www.aclweb.org/anthology/W18-6237.pdf">Sentylic at IEST 2018: Gated Recurrent Neural Network and Capsule Network Based Approach for Implicit Emotion Detection</a>
    got accepted to WASSA 2018 (a workshop at EMNLP 2018).
  </li>
  <li class="list-group-item">
    August 2018: Our paper <a target="_blank" href="https://arxiv.org/abs/1812.08330">Enhancing Decision Making Capacity in Tourism Domain Using Social Media Analytics</a> got accepted to ICTER 2018.
  </li>
</ul>