<p class="h1" style="text-align: center;"><b>Supun Abeysinghe</b></p>
<p style="text-align: center;"><b>Email: tabeysin [AT] purdue [DOT] edu</b></p>
<hr>
<p style="padding:14px; text-align: justify">
  I am currently a first-year Ph.D. student in Computer Science at <a target="_blank" href="https://www.purdue.edu/">Purdue University</a>. My current research interests lie at the intersection of compilers and machine learning. I'm interested in both compilers (or systems in general) for machine learning and utilizing machine learning techniques for compilers. I've recently started working with Prof. <a target="_blank" href="http://tiarkrompf.github.io/">Tiark Rompf</a>'s group at <a target="_blank" href="https://www.cs.purdue.edu/">Purdue CS</a>. I am a firm believer in the <a target="_blank" href="https://medium.com/@karpathy/software-2-0-a64152b37c35">Software 2.0</a> paradigm and aspire to become a part of the transformation.

  <br/>
  <br/>
  Before commencing my graduate studies, I have completed my B.Sc. in Computer Science and Engineering at the <a target="_blank" href="https://www.mrt.ac.lk/web/">University of Moratuwa</a>, Faculty of Engineering, Sri Lanka with a First Class Honors. During my undergrads, I have done a research internship at <a target="_blank" href="https://statnlp-research.github.io/"></a>StatNLP lab, Singapore University of Technology and Design (SUTD), under the supervision of Prof. <a target="_blank" href="https://istd.sutd.edu.sg/people/faculty/lu-wei">Lu Wei</a>. Upon graduation, before starting my graduate studies, I have worked as a Research Engineer at <a target="_blank" href="https://wso2.com/">WSO2</a> which is one of the largest open-source middleware solutions companies in the world.
</p>

<div style="padding-left:20px;">
  <a target="_blank" class="btn" href="/assets/files/cv.pdf" target="_blank" rel="noopener noreferrer"><i class="fa fa-download"></i> Download CV</a>
</div>
<div style="padding-left:20px;">
  <a target="_blank" class="btn" href="https://lms.mrt.ac.lk/public/transcript.php?Key1=140009A&Key2=00601&Key3=A007614&Key4=117595" target="_blank" rel="noopener noreferrer"><i class="fa fa-download"></i> Online Transcript (BSc)</a>
</div>

<!-- <div class="container contact-box">
    <div class="box">
      <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
      <div class='details'><h3>765-775-8679</h3></div>
    </div>
    
    <div class="box">
      <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div class='details'><h3>tabeysin@purdue.edu</h3></div>
    </div>
</div> -->

<!-- <div class="small-contact">
  <ul>
    <li>Contact : 765-775-8679</li>
    <li>Email: <a target="_blank" href="mailto:tabeysin@purdue.edu">tabeysin@purdue.edu</a></li>
  </ul>
</div> -->

<hr>

<!-- <img class='center' style="width: 900px;" src="/assets/images/word_cloud_1.png" alt=""> -->
<p class="h5"><b>News</b></p>
<ul>
  <li>August 2019: Started my PhD in Computer Science at Purdue University</li>
  <li>March 2019: Our paper <a target="_blank" href="https://www.researchgate.net/publication/332345389_ADAPT-T_An_Adaptive_Algorithm_for_Auto-Tuning_Worker_Thread_Pool_Size_in_Application_Servers">ADAPT-T: An Adaptive Algorithm for Auto-Tuning Worker Thread Pool Size in Application Servers</a> got accepted
    to ISCC 2019.
  </li>
  <li>December 2018: Graduated from University of Moratuwa, Faculty of Engineering, with a First Class BSc Eng. (Hons) in Computer Science and Engineering</li>
  <li>August 2018: Our paper <a target="_blank" href="https://www.aclweb.org/anthology/W18-6237.pdf">Sentylic at IEST 2018: Gated Recurrent Neural Network and Capsule Network Based Approach for Implicit Emotion Detection</a>
    got accepted to WASSA 2018 (a workshop at EMNLP 2018).
  </li>
  <li>
    August 2018: Our paper <a target="_blank" href="https://arxiv.org/abs/1812.08330">Enhancing Decision Making Capacity in Tourism Domain Using Social Media Analytics</a> got accepted to ICTER 2018.
  </li>
</ul>
