<p class="h2"><b>Work Experience</b></p>
<hr>
<p class="h5"><b>Visiting Fellow</b><span style="float:right;color: darkred">[2017 Jun. - 2017 Dec.]</span></p>
<p class="h6" style="color: dimgray"><b>StatNLP Lab, Singapore University of Technology and Design</b></p>
<p style="color: grey;text-align: justify;">I have done research on Natural Language Processing. 
  The topics includes graphical models, traditional machine learning models and deep learning models.
   Apart from that I have involved in testing of StatNLP framework.</p>

<hr>
<p class="h5"><b>Teaching Assistant</b><span style="float:right;color: darkred">[2018 Aug. - 2018 Dec.]</span></p>
<p class="h6" style="color: dimgray"><b>University of Moratuwa</b></p>
<p style="color: grey;text-align: justify;">I'm currently working as a teaching assistant (TA) for 
  Data Structures and Algorithms module offered by department of Computer Science and Engineering.</p>

<hr>
<p class="h5"><b>Freelance Developer</b><span style="float:right;color: darkred">[2016 - 2017]</span></p>
<p class="h6" style="color: dimgray"><b>Web Application Developer</b></p>
<p style="color: grey;text-align: justify;">I have engaged in several freelance web developement projects. </p>
<hr>

<p class="h2"><b>Volunteer Experience</b></p>
<hr>
<p class="h5"><b>Secretary</b><span style="float:right;color: darkred">[2017 - 2018]</span></p>
<p class="h6" style="color: dimgray"><b>Computer Society, IEEE Student Branch, University of Moratuwa</b></p>
<p style="color: grey;text-align: justify;">As the secretary, I have involved in multple projects/events organized by
the Comptuter Society of IEEE Student Branch, Univeristy of Moratuwa. Some of the work include</p>
<ul>
  <li>Problem creation and contest moderation for CodeExpertz 3.0 which is an all island competitive 
    programming competition for school children.</li>
  <li>Problem creation and contest moderation for MoraXtreme 2.0 which is a competitive programming 
    competition for internal students of Univeristy of Moratuwa. </li>
  <li>Conducted several awareness programs.</li>
</ul>