<div class="container mt-4">
  <h3 class="text-center mb-4"><b>Work Experience</b></h3>
  <div class="row">
    <div class="mx-auto">
      <!-- <h3 class="text-center mb-4">Work Experience</h3> -->
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Graduate Research Assistant <span class="text-danger float-end">[May 2020 - present]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Purdue University</h6>
          <p class="card-text">Doing research on using runtime code generation techniques to build efficient data analytics and machine learning systems.</p>
        </div>
      </div>
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">
            Research Intern <span class="text-danger float-end">[Sep 2021 - Dec 2021]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Microsoft</h6>
          <p class="card-text">
            Developed a compiler prototype to generate specialized ONNXRuntime (ORT) custom ops from ONNX models,
              utilizing efficient specialized kernels (CUTLASS). Demonstrated significant performance improvements for 
              critical models such as GPT2 and BERT compared to the standard ORT implementation.
          </p>
        </div>
      </div>
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Software Engineer Intern <span class="text-danger float-end">[May 2022 - July 2022]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">SambaNova Systems</h6>
          <p class="card-text">
            Lead optimization efforts on a critical analysis pass in the compiler stack (MLIR) to reduce resource consumption.
            Achieved a significant increase in resource utilization and successfully integrated the optimizations into production
          </p>
        </div>
      </div>
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Graduate Teaching Assistant <span class="text-danger float-end">[Aug 2019 - May 2020]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Purdue University</h6>
          <p class="card-text">Worked as a Graduate Teaching Assistant (GTA) for the <b>CS 307 Software Engineering-I</b> in Fall 2019 and Spring 2020.</p>
        </div>
      </div>
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Research Engineer <span class="text-danger float-end">[Jan 2019 - Jul 2019]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">WSO2, Sri Lanka</h6>
          <p class="card-text">Did research on using machine learning techniques to enhance
             the efficiency of self adaptive (auto tuning) systems which has the ability to configure and reconfigure itself 
             to achieve optimum performance.</p>
        </div>
      </div>
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Visiting Fellow <span class="text-danger float-end">[Jun 2017 - Dec 2017]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">StatNLP Lab, Singapore University of Technology and Design</h6>
          <p class="card-text">Did research on Natural Language Processing. 
            The topics includes graphical models, traditional machine learning models and deep learning models.
             Moreover, I was involved in implementation and testing of StatNLP framework.</p>
        </div>
      </div>
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Teaching Assistant <span class="text-danger float-end">[Aug 2018 - Dec 2018]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">University of Moratuwa</h6>
          <p class="card-text">I worked as a teaching assistant (TA) for 
            Data Structures and Algorithms module offered by department of Computer Science and Engineering (CSE).</p>
        </div>
      </div>
      <!-- Work Experience Item -->
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Freelance Developer <span class="text-danger float-end">[2016 - 2017]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Web Application Developer</h6>
          <p class="card-text">I have engaged in several freelance web development projects.</p>
        </div>
      </div>
      <!-- Volunteer Experience Section -->
      <!-- <h2 class="text-center my-4">Volunteer Experience</h2> -->
      <!-- Volunteer Experience Item -->
      <!-- <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-center">Secretary <span class="text-danger float-end">[2017 - 2018]</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">Computer Society, IEEE Student Branch, University of Moratuwa</h6>
          <p class="card-text">As the secretary, I have involved in multiple projects/events organized by the Computer Society of IEEE Student Branch, University of Moratuwa. Some of the work include:</p>
          <ul>
            <li>Problem creation and contest moderation for CodeExpertz 3.0 which is an all island competitive programming competition for school children.</li>
            <li>Problem creation and contest moderation for MoraXtreme 2.0 which is a competitive programming competition for internal students of University of Moratuwa.</li>
            <li>Conducted several awareness programs.</li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>
