<div class="container my-4">
  <h3 class="text-center mb-4"><b>Projects</b></h3>
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Flan: Datalog Compiler for Program Analysis </h5>
      <h6 class="card-subtitle mb-2 text-muted">2023</h6>
      <p class="card-text">
        A Datalog compiler for program analysis with support for a variety of features like user-defined aggregates, UDFs, stratified negations,
        user-defined aggregates and so on, built based on generative programming techniques.
        <br>
        <br>
        Flan achieves competitive performance (and sometimes significantly outperform) with state-of-the-art Datalog compilers.
      </p>
      <!-- <h6 class="card-text"><strong>Used Technologies:</strong> Apache Spark, Scala, C++, Staging (LMS)</h6> -->
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Efficient Incrementalization of Correlated Nested Aggregates</h5>
      <h6 class="card-subtitle mb-2 text-muted">2021</h6>
      <p class="card-text">
        Designed a novel data structures along with a novel indexing scheme to efficiently incrementalize correlated nested aggregates.
        Achieved over order of magnitude performance improvements compared to the state-of-the-art incrementalization techniques.
      </p>
      <!-- <h6 class="card-text"><strong>Used Technologies:</strong> Apache Spark, Scala, C++, Staging (LMS)</h6> -->
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Building efficient end-to-end Data Science Pipelines Leveraging Generative Programming</h5>
      <h6 class="card-subtitle mb-2 text-muted">2020</h6>
      <p class="card-text">The goal is to leverage code generation techniques to build end-to-end data science pipelines with cross optimization capabilities and without overheads at system boundaries (e.g., data copying/conversion).</p>
      <h6 class="card-text"><strong>Used Technologies:</strong> Apache Spark, Scala, C++, Staging (LMS)</h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Graph Query Compilation</h5>
      <h6 class="card-subtitle mb-2 text-muted">2022</h6>
      <p class="card-text">
        Extending relational query compilation techniques based on generative programming to
        support compilation of graph queries, achieving an order of magnitude speedup compared to interpreted engines
      </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> Scala, C++, Staging (LMS)</h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Sharded, Distributed Key-Value Store</h5>
      <h6 class="card-subtitle mb-2 text-muted">2022</h6>
      <p class="card-text">
        Implemented a sharded, distributed KV store using Paxos algorithm for replication
        and support for transactions using Two-phase Commit
      </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> Java, Distributed Systems </h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">University C Compiler</h5>
      <h6 class="card-subtitle mb-2 text-muted">2022</h6>
      <p class="card-text">
        A compiler for a C-like programming language that uses LLVM as an IR. Written multiple
          LLVM passes for compiler optimizations (C++, LLVM)
      </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> C++, LLVM</h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">System Parameter Auto-tuning using Bayesian Optimization</h5>
      <h6 class="card-subtitle mb-2 text-muted">2019</h6>
      <p class="card-text">The objective of this project was to auto tune system parameters (e.g. Apache sever, Tomcat server) to optimize the latency or (and) throughput of them.
        <br><a href="https://github.com/wso2-incubator/auto-tunning-thread-pools" class="card-link">[Code on GitHub]</a>
      </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> Java, Python, Sklearn, Skopt, Tomcat, Apache server, TPC-W, Netty</h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Social Media Analytics Platform</h5>
      <h6 class="card-subtitle mb-2 text-muted">2018</h6>
      <p class="card-text">A social media analytics platform which has the ability to extract reviews for any place, restaurant or any other entity,
         identify aspects/topics discussed in those reviews, find the sentiment expressed towards each identified aspect and extract 
         the deeper emotions expressed in those reviews, in general, is developed. Each of the subtasks is identified as 
         research components and we have done extensive research under each subtask.
        
         <br>
      <a href="https://github.com/Sentylic/pathway-visualizer" class="card-link">[Code on GitHub]</a>
        </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> PyTorch, Tensorflow, Python, Flask, Java, node.js</h6>
      <h6 class="card-text"><strong>Used Concepts:</strong> Deep Learning models for NLP, IKASL algorithm, GSOM</h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Sri Lanka Restaurant Reviews Search Index</h5>
      <h6 class="card-subtitle mb-2 text-muted">2018</h6>
      <p class="card-text">A search index for a scraped set of reviews from openly available reviews was built using 
        Apache Solr. Several Information Retrieval techniques have been employed to improve the performance of the model. 
        This was done as a requisite for CS 4642 - Data Mining and Information Retrieval module.

        <br>
      <a href="https://github.com/supunab/CS4642-IR-Restaurants" class="card-link">[Scraper-Code on GitHub]</a>
      </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> Apache Solr, Scrapy (for scraping)</h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">Internship Portal</h5>
      <h6 class="card-subtitle mb-2 text-muted">2017</h6>
      <p class="card-text">A SharePoint add-in for sending the CVs of interns to their selected companies. This will be used in 
        the Computer Science and Engineering department of University of Moratuwa from 2017 internships onward.
      
        <br>
      <a href="https://github.com/supunab/Internship-sharepoint-addin" class="card-link">[Code on GitHub]</a>
      </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> AngularJS, JavaScript, SharePoint</h6>
    </div>
  </div>

  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title">CV Feedback Portal</h5>
      <h6 class="card-subtitle mb-2 text-muted">2017</h6>
      <p class="card-text">A web-based system where CV of undergraduates is reviewed by the Alumni members of the department. 
        Mainly focuses on students who are willing to start their careers or internships. The web app was 
        developed as an add-in (App) to Sharepoint.
      <br>
      <a href="https://github.com/supunab/CV-Feedback-SharePoint-Add-in" class="card-link">[Code on GitHub]</a>
      </p>
      <h6 class="card-text"><strong>Used Technologies:</strong> Sharepoint JSOM, HTML, CSS, JavaScript, JQuery, Bootstrap</h6>
    </div>
  </div>
</div>
