<p class="h1"><b>Projects</b></p>
<hr>
<p class="h5"><b>System Parameter Auto-tuning using Bayesian Optimization</b>&nbsp;<a href="https://github.com/wso2-incubator/auto-tunning-thread-pools"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2019]</span></p>
<p style="color: grey;text-align: justify;">The objective of this project was to auto tune system parameters (e.g. Apache sever, Tomcat server) to 
  optimize the latency or (and) throughput of them. 
</p>
<ul>
  <li>Used Technologies: Java, Python, Sklearn, Skopt, Tomcat, Apache server, TPC-W, Netty</li>
</ul>

<hr>
<p class="h5"><b>Social Media Analytics Platform</b>&nbsp;<a href="https://github.com/Sentylic/pathway-visualizer"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2018]</span></p>
<p style="color: grey;text-align: justify;">A social media analytics platform which has the ability to extract
   reviews for any place, restaurant or any other entity, identify aspects/topics discussed in those reviews, 
   find the sentiment expressed towards each identified aspect and extract the deeper emotions expressed in those reviews,
    in general, is developed. Each of the subtasks is identified as research components and we have done extensive research
     under each subtask.</p>
<ul>
  <li>Used Technologies: PyTorch, Tensorflow, Python, Flask, Java, node.js</li>
  <li>Used Concepts: Deep Learning models for NLP, IKASL algorithm, GSOM</li>
</ul>
<!-- 
<hr>
<p class="h5"><b>Scanner (Lexical Analyzer) and Parser</b>&nbsp;<a href="https://github.com/smb564/c-minus"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2018]</span></p>
<p style="color: grey;text-align: justify;">Implementation of Scanner and Parser for the c-minus language specified 
  in the compiler construction: Principles and Practice book.</p>
<ul>
  <li>Used Technologies: Bison (to generate parser), Flex (to generate lexical analyzer), C++</li>
</ul> -->

<hr>
<p class="h5"><b>Sri Lanka Restaurant Reviews Search Index</b>&nbsp;<a href="https://github.com/smb564/CS4642-IR-Restaurants"><i class="fab fa-github"></i>&nbsp;[scraper-code]</a><span style="float:right;color: darkred">[2018]</span></p>
<p style="color: grey;text-align: justify;">A search index for a scraped set of reviews from openly available reviews was built using 
  Apache Solr. Several Information Retrieval techniques have been employed to improve the performance of the model. 
  This was done as a requisite for CS 4642 - Data Mining and Information Retrieval module.</p>
<ul>
  <li>Used Technologies: Apache Solr, Scrapy (for scraping)</li>
</ul>

<hr>
<p class="h5"><b>Internship Portal</b>&nbsp;<a href="https://github.com/smb564/Internship-sharepoint-addin"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2017]</span></p>
<p style="color: grey;text-align: justify;">A SharePoint add-in for sending the CVs of interns to their selected companies. 
  This will be used in the Computer Science and Engineering department of University of Moratuwa from 2017 
  internships onward.</p>
<ul>
  <li>Used Technologies: AngularJS, JavaScript, SharePoint</li>
</ul>

<hr>
<p class="h5"><b>CV Feedback Portal</b>&nbsp;<a href="https://github.com/smb564/CV-Feedback-SharePoint-Add-in"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2017]</span></p>
<p style="color: grey;text-align: justify;">A web-based system where CV of undergraduates is reviewed by the Alumni 
  members of the department. Mainly focuses on students who are willing to start their careers or internships.
   The web app was developed as an add-in (App) to Sharepoint.</p>
<ul>
  <li>Used Technologies: Sharepoint JSOM, HTML, CSS, JavaScript, JQuery, Bootstrap</li>
</ul>

<hr>
<p class="h5"><b>UniConnect</b>&nbsp;<a href="https://github.com/smb564/UniConnect"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2017]</span></p>
<p style="color: grey;text-align: justify;">UniConnect is basically an academic resource sharing and opportunity seeking 
  web system for undergraduate students.</p>
<ul>
  <li>Used Technologies: Java Spring Boot, AngularJS and Mongo DB</li>
</ul>

<hr>
<p class="h5"><b>Tank Game Client</b>&nbsp;<a href="https://github.com/smb564/Tank-Game"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2016]</span></p>
<p style="color: grey;text-align: justify;">This was done as an assignment for the Programming Challenge-II module 
  in Semester 4. This is a game client to connect and play with a Tank Game server. The client has an AI
   system which plays with other clients connected to the server. Game graphics were implemented using Unity 2D.</p>
<ul>
  <li>Used Technologies: C#, Unity, Game Playing Search algorithms</li>
</ul>

<hr>
<p class="h5"><b>Energy Monitoring System</b>&nbsp;<a href="https://github.com/smb564/Energy-Monitoring-System"><i class="fab fa-github"></i>&nbsp;[code]</a><span style="float:right;color: darkred">[2016]</span></p>
<p style="color: grey;text-align: justify;">An online system to monitor energy consumption and an online portal to
   manage and perform customer actions. (bill reviews, payments) This project was done as for a requirement of Database 
   Systems module in Semester 4.
  </p>
<ul>
  <li>Used Technologies: AngularJS, Node.js, Express, MySql, MaterilizeCSS, HTML, CSS</li>
</ul>

<hr>
<p class="h5"><b>ERP System for Kandy Plastics PVT(LTD)</b><span style="float:right;color: darkred">[2016]</span></p>
<p style="color: grey;text-align: justify;">A system which is capable of controlling the entire process of a plastic 
  manufacturing company was built. This includes handling inventory, vehicle management, production process management, 
  and other related things. This was done for the semester project for Object-Oriented System Development in semester 3.
   This was a team project and the unified process was the project management technique we followed.
  </p>
<ul>
  <li>Used Technologies: Qt Framework, C++</li>
</ul>

<hr>
<p class="h5"><b>Mini Microprocessor</b><span style="float:right;color: darkred">[2016]</span></p>
<p style="color: grey;text-align: justify;">This is a microprocessor model that was built from scratch.
   This uses an instruction set that is specific to this and has the capability to perform simple operations.
    This was implemented using an FPGA. This was the semester project for computer architecture module.
  </p>
<ul>
  <li>Used Technologies: FPGA, Xlinx ISE (IDE)</li>
</ul>