<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger">
    <span class="d-block d-lg-none" style="color:aliceblue">Supun Abeysinghe</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile mx-auto mb-4" src="https://avatars0.githubusercontent.com/u/16972250?s=460&v=4" alt="">
    </span>
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="container">
    <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3" style="text-align: center;">
        <a class="btn btn-social-icon btn-google" style="color:white;" href="mailto:supun.14@cse.mrt.ac.lk">
          <i class="fab fa-google"></i>
        </a>
    </div>
    <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3" style="text-align: center;">
        <a class="btn btn-social-icon btn-github" style="color:white;" href="https://github.com/smb564">
          <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3" style="text-align: center;">
        <a class="btn btn-social-icon btn-facebook" style="color:white" href="https://www.facebook.com/supunabeysinghe">
          <i class="fab fa-facebook"></i>
        </a>
    </div>
    <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3" style="text-align: center;">
        <a class="btn btn-social-icon btn-linkedin" style="color:white" href="https://www.linkedin.com/in/supunabeysinghe/">
          <i class="fab fa-linkedin"></i>
        </a>
    </div>
  </div>
  <hr>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/about" [class.active]="selectedPage==='/about'">
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/experience" [class.active]="selectedPage==='/experience'">
          Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/awards" [class.active]="selectedPage==='/awards'">Awards and Achievements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/publications" [class.active]="selectedPage==='/publications'">Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" routerLink="/projects" [class.active]="selectedPage==='/projects'">Projects and Code</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="http://smb564.blogspot.com/">Blog</a>
      </li>
    </ul>
  </div>
</nav>