<br><br>
<p class="h1"><b>Awards and Achievements</b></p>
<hr>
<p class="h5"><b><i class="fa fa-trophy"></i>&nbsp;Fifth Place</b><span style="float:right;color: darkred">[2018]</span></p>
<p class="h6" style="color: dimgray"><b>Team Sentylic at Implicit Emotion Detection Task <a href="http://implicitemotions.wassa2018.com/results/">[Leaderboard]</a>&nbsp;<a href="https://arxiv.org/abs/1809.01452">[Paper]</a></b></p>
<p style="color: grey;text-align: justify;">This task was organized as a shared task for 9th Workshop on 
  Computational Approaches to Subjectivity, Sentiment & Social Media Analysis. The requirement of 
  this task was to predict the emotions expressed in a text without having access to explicit mentions of 
  emotion-related words. There were participants from all around the world from some of the top universities.</p>

<hr>
<p class="h5"><b><i class="fa fa-trophy"></i>&nbsp;31<sup>st</sup> Place (Top 0.8%)</b><span style="float:right;color: darkred">[2018]</span></p>
<p class="h6" style="color: dimgray"><b>Team cseuom_sentylic at DengAI: Predicting Disease Spread <a href="https://www.drivendata.org/competitions/44/dengai-predicting-disease-spread/leaderboard/">[Leaderboard]</a></b></p>
<p style="color: grey;text-align: justify;">The task was to predict the number of Dengue cases recorded in two 
  cities San Juan and Iquitos of Peru. This was done as a part of the CS 4642 - Data Mining module and we have 
  tried several preprocessing techniques, regression models and ensembling techniques as well. Our team managed to
   rank in the top 0.8% of the leaderboard.</p>

<hr>
<p class="h5"><b><i class="fa fa-trophy"></i>&nbsp;1 Gold, 7 Silver, 5 Bronze </b></p>
<p class="h6" style="color: dimgray"><b>Hackerrank Competitive Programming Contests <a href="https://www.hackerrank.com/smb564">[Profile]</a></b></p>
<p style="color: grey;text-align: justify;">Hacker Rank is an online competitive programming hosting platform where developers from 
  all over the world compete in contests. (Medals awarding scheme – Gold - top 4%, Silver - top 8% and Bronze - top 13%)</p>

<hr>
<p class="h5"><b><i class="fa fa-trophy"></i>&nbsp;106<sup>th</sup> in World, 3<sup>rd</sup> in Sri Lanka </b><span style="float:right;color: darkred">[2017]</span></p>
<p class="h6" style="color: dimgray"><b>IEEEXtreme V10.0 Programming Competition (Team - nonameyet) <a href="http://ieeextreme.org/files/2016/11/Overall-Ranking-1.pdf">[Results]</a></b></p>
<p style="color: grey;text-align: justify;">IEEEXtreme is one of the renowned competitive programming competition which attracts
   participants from all over the world from top universities.</p>

<hr>
<p class="h5"><b><i class="fa fa-trophy"></i>&nbsp;First Place</b><span style="float:right;color: darkred">[2016]</span></p>
<p class="h6" style="color: dimgray"><b>Code Breaker - Bethem Challenge </b></p>
<p style="color: grey;text-align: justify;">Code Breaker challenge was a 24-hour competitive programming 
  contest which was organized by 99x Technologies, Sri Lanka. This was hosted on hacker-rank and 78 students 
  from universities of all over the country participated. I managed to obtain the top rank in this competition.</p>

<hr>
<p class="h5"><b><i class="fa fa-trophy"></i>&nbsp;First Place</b><span style="float:right;color: darkred">[2016]</span></p>
<p class="h6" style="color: dimgray"><b>MoraXtreme v1.0 </b></p>
<p style="color: grey;text-align: justify;">MoraXtreme is a competitive programming competition which is similar to 
  IEEEXtreme programming competition. More than 60 teams from all the faculties of University of Moratuwa participated
   in the event and we managed to secure the 1st place.</p>

<hr>
<p class="h5"><b><i class="fa fa-trophy"></i>&nbsp;Second Place</b><span style="float:right;color: darkred">[2016]</span></p>
<p class="h6" style="color: dimgray"><b>AcesCoders v6.0 </b></p>
<p style="color: grey;text-align: justify;">AcesCoders v6.0 was the 6th edition of the competitive programming event 
  organized by the Department of Computer Engineering, University of Peradeniya. Undergraduates from all over the country 
  participated in the event. Ranked 2nd from 102 teams from all over the country.</p>