<br><br>
<p class="h1"><b>Awards and Achievements</b></p>
<hr>
<p class="h5"><b>Visiting Fellow</b><span style="float:right;color: darkred">[2017 Jun. - 2017 Dec.]</span></p>
<p class="h6" style="color: dimgray"><b>StatNLP Lab, Singapore University of Technology and Design</b></p>
<p style="color: grey;text-align: justify;">I have done research on Natural Language Processing. 
  The topics includes graphical models, traditional machine learning models and deep learning models.
   Apart from that I have involved in testing of StatNLP framework.</p>
