<br><br><br><br>
<p class="h1"><b>Publications</b></p>
<hr>
<p class="h5"><b>Sentylic at IEST 2018: Gated Recurrent Neural Network and Capsule Network Based Approach for Implicit Emotion Detection </b><span style="color: darkred">[2018]</span>&nbsp;<a href="https://arxiv.org/abs/1809.01452">[pdf]</a></p>
<p class="h6" style="color: dimgray">Prabod Rathnayaka, <b>Supun Abeysinghe</b>, Chamod Samarajeewa, Isura Manchanayake, Malaka Walpola</p>
<p style="color: grey;text-align: justify;">To appear in proceedings of 9th Workshop on Computational Approaches to Subjectivity, Sentiment & Social Media Analysis</p>
<hr>
<p class="h5"><b>Enhancing Decision Making Capacity in Tourism Domain Using Social Media Analytics </b><span style="color: darkred">[2018]</span></p>
<p class="h6" style="color: dimgray"><b>Supun Abeysinghe</b>, Isura Manchanayake, Chamod Samarajeewa, Prabod Rathnayaka, Malaka J. Walpola, Rashmika Nawaratne, Tharindu Bandaragoda, Damminda Alahakoon</p>
<p style="color: grey;text-align: justify;">To appear in proceedings of International Conference in ICT for Emerging Regions</p>