<p class="h1"><b>Publications</b></p>
<hr>
<p class="h5"><b>ADAPT-T: An Adaptive Algorithm for Auto-Tuning Worker Thread Pool Size in Application Servers </b><span style="color: darkred">[2019]</span>&nbsp;<a href="https://www.researchgate.net/publication/332345389_ADAPT-T_An_Adaptive_Algorithm_for_Auto-Tuning_Worker_Thread_Pool_Size_in_Application_Servers">[pdf]</a></p>
<p class="h6" style="color: dimgray">Nilushan Costa, Malith Jayasinghe, Ajantha Atukorale, <b>Supun Abeysinghe</b>, Srinath Perera, Isuru Perera</p>
<p style="color: grey;text-align: justify;">In proceedings of International Symposium on Computers and Communications (ISCC), Barcelona, Spain</p>

<hr>
<p class="h5"><b>Sentylic at IEST 2018: Gated Recurrent Neural Network and Capsule Network Based Approach for Implicit Emotion Detection </b><span style="color: darkred">[2018]</span>&nbsp;<a href="https://arxiv.org/abs/1809.01452">[pdf]</a></p>
<p class="h6" style="color: dimgray">Prabod Rathnayaka, <b>Supun Abeysinghe</b>, Chamod Samarajeewa, Isura Manchanayake, Malaka Walpola</p>
<p style="color: grey;text-align: justify;">In proceedings of 9th Workshop on Computational Approaches to Subjectivity, Sentiment & Social Media Analysis</p>

<hr>
<p class="h5"><b>Enhancing Decision Making Capacity in Tourism Domain Using Social Media Analytics </b><span style="color: darkred">[2018]</span>&nbsp;<a href="https://arxiv.org/abs/1812.08330">[pdf]</a></p>
<p class="h6" style="color: dimgray"><b>Supun Abeysinghe</b>, Isura Manchanayake, Chamod Samarajeewa, Prabod Rathnayaka, Malaka J. Walpola, Rashmika Nawaratne, Tharindu Bandaragoda, Damminda Alahakoon</p>
<p style="color: grey;text-align: justify;">In proceedings of International Conference in ICT for Emerging Regions</p>