<div class="container mt-4">
    <h3 class="text-center mb-4"><b>Publications</b></h3>
    <div class="row">
      <div class="mx-auto">
        <!-- Publication Item -->
        <div class="card mb-4">
          <div class="card-body">
              <h5 class="card-title">
                  Rhyme: A Data-Centric Expressive Query Language for Nested Data Structures
                  <span class="text-danger float-end">[PADL 2024]</span> 
              </h5>
              <h6 class="card-subtitle mb-2 text-muted"><b>Supun Abeysinghe</b>, Tiark Rompf</h6>
              <p class="card-text">To appear at the 26th International Symposium on Practical Aspects of Declarative Languages (PADL 2024)</p>
          </div>
      </div>
        <!-- Publication Item -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    Flan: An Expressive and Efficient Datalog Compiler for Program Analysis
                    <span class="text-danger float-end">[POPL 2024]</span>
                </h5>
                <h6><span class="text-success float-end"><i class="fas fa-trophy"></i> Distinguished Paper</span></h6>
                <h6 class="card-subtitle mb-2 text-muted"><b>Supun Abeysinghe</b>, Anxhelo Xhebraj, Tiark Rompf</h6>
                <p class="card-text">To appear at 51st ACM SIGPLAN Symposium on Principles of Programming Languages (POPL 2024)</p>
            </div>
        </div>
        <!-- Publication Item -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    Architecting Intermediate Layers for Efficient Composition of Data Magement and Machine Learning Systems
                    <span class="text-danger float-end">[MAPS 2023]</span> 
                </h5>
                <h6 class="card-subtitle mb-2 text-muted"><b>Supun Abeysinghe</b>, Fei Wang, Gregory Essertel, Tiark Rompf</h6>
                <p class="card-text">To appear at the 7th Annual Symposium on Machine Programming</p>
            </div>
        </div>
        <!-- Publication Item -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    Graph IRs for Impure Higher-Order Languages - Making Aggressive Optimizations Affordable with Precise
                    Effect Dependencies <span class="text-danger float-end">[OOPSLA 2023]</span> 
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Oliver Bračevac, Guannan Wei, Songlin Jia, <b>Supun Abeysinghe</b>, Luke Jiang, Yuyan Bao, and Tiark Rompf</h6>
                <p class="card-text">Proceedings of the ACM on Programming Languages (OOPSLA 2023)</p>
            </div>
        </div>
        <!-- Publication Item -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    Efficient Incrementialization of Correlated Nested Aggregate Queries using Relative
                    Partial Aggregate Indexes (RPAI) <span class="text-danger float-end">[SIGMOD 2022]</span> 
                    <a href="https://dl.acm.org/doi/abs/10.1145/3514221.3517889">[pdf]</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted"><b>Supun Abeysinghe</b>, Qiyang He, Tiark Rompf</h6>
                <p class="card-text">SIGMOD '22: Proceedings of the 2022 International Conference on Management of Data</p>
            </div>
        </div>
        <!-- Publication Item -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">ADAPT-T: An Adaptive Algorithm for Auto-Tuning Worker Thread Pool Size in Application Servers <span class="text-danger float-end">[2019]</span> <a href="https://www.researchgate.net/publication/332345389_ADAPT-T_An_Adaptive_Algorithm_for_Auto-Tuning_Worker_Thread_Pool_Size_in_Application_Servers">[pdf]</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Nilushan Costa, Malith Jayasinghe, Ajantha Atukorale, <b>Supun Abeysinghe</b>, Srinath Perera, Isuru Perera</h6>
            <p class="card-text">In proceedings of International Symposium on Computers and Communications (ISCC), Barcelona, Spain</p>
          </div>
        </div>
        <!-- Publication Item -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Sentylic at IEST 2018: Gated Recurrent Neural Network and Capsule Network Based Approach for Implicit Emotion Detection <span class="text-danger float-end">[2018]</span> <a href="https://arxiv.org/abs/1809.01452">[pdf]</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Prabod Rathnayaka, <b>Supun Abeysinghe</b>, Chamod Samarajeewa, Isura Manchanayake, Malaka Walpola</h6>
            <p class="card-text">In proceedings of 9th Workshop on Computational Approaches to Subjectivity, Sentiment & Social Media Analysis</p>
          </div>
        </div>
        <!-- Publication Item -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Gated Recurrent Neural Network Approach for Multilabel Emotion Detection in Microblogs <span class="text-danger float-end">[2018]</span> <a href="https://arxiv.org/pdf/1907.07653.pdf">[pdf]</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Prabod Rathnayaka, <b>Supun Abeysinghe</b>, Chamod Samarajeewa, Isura Manchanayake, Malaka Walpola, Rashmika Nawaratne, Tharindu Bandaragoda, Damminda Alahakoon</h6>
          </div>
        </div>
        <!-- Publication Item -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Enhancing Decision Making Capacity in Tourism Domain Using Social Media Analytics <span class="text-danger float-end">[2018]</span> <a href="https://arxiv.org/abs/1812.08330">[pdf]</a></h5>
            <h6 class="card-subtitle mb-2 text-muted"><b>Supun Abeysinghe</b>, Isura Manchanayake, Chamod Samarajeewa, Prabod Rathnayaka, Malaka J. Walpola, Rashmika Nawaratne, Tharindu Bandaragoda, Damminda Alahakoon</h6>
            <p class="card-text">In proceedings of International Conference in ICT for Emerging Regions</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  